*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#0f172a;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
color:white;
}

.quiz-container{
background:#1e293b;
padding:40px;
border-radius:10px;
width:400px;
text-align:center;
}

h1{
margin-bottom:20px;
}

.options{
display:flex;
flex-direction:column;
gap:10px;
margin:20px 0;
}

.option{
padding:10px;
border:none;
border-radius:5px;
background:#334155;
color:white;
cursor:pointer;
}

.option:hover{
background:#38bdf8;
color:black;
}

.bottom{
display:flex;
justify-content:space-between;
align-items:center;
margin-top:20px;
}

#next{
padding:8px 15px;
border:none;
background:#38bdf8;
border-radius:5px;
cursor:pointer;
}

.hide{
display:none;
}